@tailwind base;
@tailwind components;
@tailwind utilities;



.group-hover\:pause-marquee:hover {
  animation-play-state: paused;
}





.stroke-text {
  -webkit-text-stroke: 2px red; /* stroke color red */
  -webkit-text-fill-color: transparent; /* keep fill transparent for gradient */
}